    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Foto.jpg" class="img-fluid" id="fotoperfil">
        </div>
        <div clas="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="container">
                <h2>Nadiezhda Massiel González Zúniga</h2>
                <h5>Full Stack Developer Jr.</h5>
            
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="contenedor">
           
                <h1>Acerca de Mi</h1>
                <p>Ingeniera en Sistemas con más de 10 años de experiencia. He trabajado mayormente con Freelance, ofreciendo mis conocimientos a pequeñas y medianas empresas. Tengo capacidad para adaptarme a las necesidades del cliente, así también al trabajo en equipo. Me gusta más el desarrollo de software, la parte más práctica de un proyecto informático. </p>
           
        </div>
        </div>
    </div>

