<div  class="row">

    <div class="container">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    </div>
        <ul>
            <li>
                <h3>Enitel Nicaragua</h3>
                <p>Administrador de Redes Informáticas <br>(2005-2006)</p> 
            </li>
        </ul>

        <ul>
            <li>
                <h3>Visión Mundial Nicaragua</h3>
                <p>Programador de Sistemas <br> (2006)</p> 
            </li>
        </ul>

        <ul>
            <li>
                <h3>Freelance</h3>
                <p>Soporte Técnico <br> (2008-2023)</p> 
            </li>
        </ul>
    </div>
    </div>


