<div  class="row">

    <div class="container">
    <h1>Estudios Realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    </div>
        <ul>
            <li>
                <h3>Universidad Politécnica de Nicaragua</h3>
                <p>Ingeniería en Sistemas <br>(2000 - 2004)</p>
                
            </li>
        </ul>

        <ul>
            <li>
                <h3>Escuela Politécnica de Comercio</h3>
                <p>Diseño Gráfico <br>(2004)</p>
                
            </li>
        </ul>

        <ul>
            <li>
                <h3>Centro Juvenil Don Bosco</h3>
                <p>Redes (CCNA) <br>(2004)</p>
                
            </li>
        </ul>

        <ul>
            <li>
                <h3>Argentina Programa</h3>
                <p>#Se Programar <br> (2022)</p>
            </li>
        </ul>
    </div>
    </div>
