.row{
    padding: 20px;
    background-color:#a1b5cb;
}

.container{
   /*width: auto;*/
    /*display: inline-block;
    text-align: justify;*/
        width: 1420px;
        text-align: left;
        padding: 10px;
        position: relative;
        
        /*Sombra*/
        margin-top: -0%;
        margin-left: 1%;
        height:flexible; 
        border: solid 1px #555; 
        background-color: #eee; 
        box-shadow: 10px -10px rgba(0,0,0,0.6);
        -webkit-box-shadow: 10px -10px rgba(0,0,0,0.6);
    
}