    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Foto.jpg" class="img-fluid" id="fotoperfil">
        </div>
        <div clas="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Nadiezhda Massiel González Zúniga</p>
            <p id="titulo">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de Mi</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi molestiae sequi harum, asperiores consequatur, necessitatibus earum aliquam ipsum natus alias accusantium totam iusto dicta laboriosam ducimus optio, obcaecati quod voluptates.</p>
            </span>
        </div>
    </div>

