img{
    width: 1400px;
    height: 300px;
    margin-left: 0.5%;
    margin-top: 1.5%;

    margin: 20px;
    margin-left: 1.5%;
    height:flex; 
    border: solid 1px #555; 
    background-color: #eee; 
    box-shadow: 10px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px rgba(0,0,0,0.6);
}